---
import Person from "../icons/Person.astro"
---

<section id="about" class="mt-32">
    <h2 class="text-2xl lg:text-4xl font-bold text-indigo-300">
      <Person class="h-8 w-8 lg:h-12 lg:w-12 inline-block mr-1" />Sobre mi
    </h2>
    <p class="mt-4 text-lg lg:text-2xl text-indigo-100/75">
      Soy un desarrollador Full Stack con habilidades para crear aplicaciones
      dinámicas y únicas. Me encanta aprender nuevas tecnologías y crear
      proyectos que ayuden a las personas a resolver sus problemas.
    </p>
    <p class="mt-4 text-lg lg:text-2xl text-indigo-100/75">
      Me gusta trabajar en equipo y compartir mis conocimientos con los demás.
      También me gusta aprender de los demás y escuchar sus ideas.
    </p>
  </section>