---
import Badge from "../Badge.astro";
import SocialPillsContainer from "../SocialPillsContainer.astro";
---

<main class="mt-32 flex flex-col justify-center">
  <img
    class="w-24 h-24 lg:w-36 lg:h-36 p-1 rounded-full ring-2 dark:ring-zinc-700 lg:ring-4 ring-zinc-500 lg:mb-4 shadow-lg shadow-indigo-500/20"
    src="https://media.licdn.com/dms/image/D4E03AQH4hVvxb-NJHg/profile-displayphoto-shrink_800_800/0/1699820373488?e=1709769600&v=beta&t=oqOyHA2U07iKOsUwvdo-NiM0nwGBaFZWjT4JtzNhKkE"
    alt="Bordered avatar"
  />
  <h1 class="font-bold tracking-wide mt-4 text-2xl lg:text-5xl">
    ¡Hola, soy Armando Diaz!
  </h1>
  <Badge>Disponible para trabajar</Badge>
  <p class="mt-4 text-indigo-100 text-xl lg:w-3/4 lg:mt-8 lg:text-2xl">
    <span class="text-indigo-300 font-medium">Desarrollador Full Stack</span> con
    habilidades para crear aplicaciones <span
      class="text-indigo-300 font-medium">dinámicas</span
    >
    y <span class="text-indigo-300 font-medium">únicas</span>.
  </p>
  <SocialPillsContainer />
</main>
